<tr>
  <td><%= grupo.nombre %></td>
  <td><%= grupo.estado ? "ACTIVO" : "INACTIVO" %></td>
  <td align="right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
           <li><%= link_to 'Mostrar', grupo  %></li>
           <li><%= link_to 'Editar', edit_administracion_grupo_path(grupo) %></li>
           <li><%= link_to 'Eliminar',grupo, method: :delete, data: { confirm: 'Quieres Eliminar este Grupo ?' }%></li>
      </ul>
  </div>
  </td>
</tr>
  