 

<div class="buscararticulo" align="right" >
  <%= form_tag sigesp_servicios_solictud_path, class: 'form-inline formbuscar',  method: 'GET', remote: true  do  %>     
    <div class="form-group">
      <%= select_tag :sort ,options_for_select(["codigo","descripcion"],params[:sort]), class: "form-control",style: "width:150px;" %>
      <%= text_field_tag :search, params[:search], class:"form-control", style:"width:inherid"  %>  
      <%= submit_tag "Buscar",class: 'btn btn-primary buscararticulo', name: :buscar  %>  
    </div>
  <% end %>  
</div>

<div class="table-responsive">
  <div class ="row buscar">
  </div>

  <table class="table servicios  table-striped">
      <%=table_head([{title:"codigo"},{title:"Denominacion"},{title:"Tipo"},{title:"Unidad"}]) %>
    <tbody>
    <% @lista.each do |item| %>
	    <%= content_tag :tr  do |tr| %>
	 		<td><%= item.codser %></td>
	 	  	<td><%= truncate(item.denser,length: 90) %></td>
	       	<td><%= item.tipo_servicio.dentipser %></td>
	       	<td><%= item.unidad.denunimed %></td>
		    <td> <%= btn_servicio(item) %> </td>
	    <% end %>
 	<% end %>     
    </tbody>
  </table>
</div> 

<div class="row">
  <div class="col-md-4">
    <label><%= page_entries_info @lista %></label>
  </div>
  <div class="col-md-8 catalagoArticulo" 
          data-url="<%=  sigesp_articulos_path  %>">
    <%= will_paginate @lista, renderer:ApplicationHelper::LinkRenderer %>
  </div>
</div> 



 
