<tr>
  <td><%= plantilla.nombre %></td>
  <td><%= plantilla.descripcion %></td>
  <td><%= plantilla.compra? ? "COMPRA": "ALMACEN" %></td>
  <td><%= tipo_plantilla plantilla %></td>
  <td align="right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><%= link_to 'Mostrar', plantilla  %></li>
          <li><%= link_to 'Editar',edit_plantilla_path(plantilla) %></li>
          <li>
            <%= button_to('Eliminar',
                plantilla_path(plantilla),
                method: "delete",
                class:"eliminar", data: { confirm: "Quieres Eliminar la plantilla  #{plantilla.descripcion }" }) %>
          </li>
      </ul>
  </div>
  </td>
</tr>