<div class="panel-body2"  style="height: 95%;">
  <%= link_to 'Regresar',  administracion_usuarios_path ,class:"btn btn-default btn-sm" %>     
</div>
<div class="formulariousuario_contrasena" url="<%= administracion_usuarios_path %>" >
<%= form_for(@administracion_usuario,url:administracion_usuario_password_path(@administracion_usuario) ,html: {class:'form-horizontal',role:'form'}) do |f| %>
  <h3 class="page-header"> Datos de Acceso </h3>
  <div class="form-group" >
    <%= f.label :username , class:"col-sm-2 control-label" %>
    <div class="col-sm-4" >
      <%= f.text_field :username,class:"form-control input-sm ", maxlength:15, disabled: "true" %>
    </div>
  </div>
  <div class="form-group" >
    <%= f.label :password , class:"col-sm-2 control-label" %>
    <div class="col-sm-4" >
      <%= f.password_field :password, class:"form-control input-sm ", maxlength:20 %>
    </div>
    <div class="col-sm-3">
      <% if @administracion_usuario.errors[:password].size != 0 %>
        <label class="label label-danger" ><%= @administracion_usuario.errors[:password].join(" ") %> </label>
      <% else %>
        <label> Ingrese como Minimo 8 characteres</label>
      <% end %>
    </div>
  </div>

  <div class="form-group" >
    <%= f.label :password_confirmation , class:"col-sm-2 control-label" %>
    <div class="col-sm-4" >
        <%= f.password_field :password_confirmation, class:"form-control input-sm ", maxlength:20 %>
    </div>
    <div class="col-sm-3">
      <% if @administracion_usuario.errors[:password_confirmation].size != 0 %>
        <label class="label label-danger" ><%= @administracion_usuario.errors[:password_confirmation].join(" ") %> </label>
     <% end %>
    </div>
  </div>
  <div class=" form-group">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-9">
      <%= f.submit "Guardar" , class: "btn btn-default " %>
    </div>
  </div> 
<% end %>
</div>
