<div class="panel-body2"  style="height: 95%;">
      <%= link_to 'Regresar',  administracion_usuarios_path ,class:"btn btn-default btn-sm" %>     
</div>

<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row" style="">
		  <div class="col-md-4">
		    <label class="list-group-item-heading"
		    	 style="font-weight: bold;">UserName 
			    <%= @administracion_usuario.username  %>
		    </label>
		  </div>
		  <div class="col-md-4">
		    <label class="list-group-item-heading"
		    	 style="font-weight: bold;">Cedula 
			    <%= @administracion_usuario.cedula  %>
		    </label>
		  </div>
		  <div class="col-md-4">
		    <label class="list-group-item-heading"
		    	 style="font-weight: bold;">Nombres 
			    <%= @administracion_usuario.nombres  %>
		    </label>
		  </div>

		</div>
	</div>
</div>




<div class="row">
	<div class="col-md-1">
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#unidades">
		Agregar
		</button>
	</div>
	<div class="col-md-11">
		<div class="panel panel-default">
		  <div class="panel-heading">Unidades </div>
		  <div class="panel-body">
		  <div >
			<table class="table"  >
			<% @administracion_usuario.unidades.each do |unidad|%>
			  <tr  align="rigth" >
			  	<td><label ><%= unidad.denuac %></label></td>  
			  	<td><%= link_to administracion_usuario_quitar_unidad_path(@administracion_usuario,unidad), class: "btn btn-default btn-small  " ,method: :post do  |link| %>
			  		  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> quitar
			  	<% end %>
			  	</td> 
			  </tr>
			  <% end %>
			</table>
				<label class="pull-right"><%= "Tiene un total de #{@administracion_usuario.unidades.size} Unidades Asociadas. " %></label>
			</div>
		  </div>
		</div>		
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="unidades" tabindex="-1" role="dialog" aria-labelledby="unidadeslabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="unidadeslabel">Unidades</h4>
      </div>
      <div class="modal-body" style="overflow: auto; height:500px;" >
			<table class="table"  >
			<% @unidades.each do |unidad|%>
			  <tr  align="rigth" >
			  	<td><label ><%= unidad.denuac %></label></td>  
			  	<td><%= link_to administracion_usuario_agregar_unidad_path(@administracion_usuario,unidad), class: "btn btn-default btn-small  " ,method: :post do  |link| %>
			  		  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> agregar
			  	<% end %>
			  	</td> 
			  </tr>
			  <% end %>
			</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
      </div>
    </div>
  </div>
</div> 
 